$inter-font: "Inter", sans-serif;
$open-sans-font: "Open Sans", sans-serif;

$light: white;
$dark: black;
$button-back: #EF0031;
$title-color: #333333;
$form-text-color: #848484;

$menu-text: 0.7vw;
$main-text: 1vw;
$card-title: 1vw;
$card-cost: 1.5vw;
$form-text-size: 1.3vw;

@mixin accent-text
{
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    color: $light;
}
@mixin main-banner-text
{
    font-family: $inter-font;
    font-size: 5vw;
    text-transform: uppercase;
    margin: 3vw 0px;
    color: $light;
}
@mixin title
{
    font-family: $inter-font;
    font-size: 2.5vw;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 4vw 0px;
}
@mixin card-title 
{
    color: $light;
    font-size: $card-title;
}
@mixin card-cost 
{
    color: $light;
    font-weight: bold;
    font-size: $card-cost;
}
@mixin form-text
{
    color: $form-text-color;
    font-size: $form-text-size;
    font-weight: bolder;
}

body
{
    font-family: $open-sans-font;
    height: vw;
    margin: 0;
}
button
{
    font: 0.9vw $open-sans-font;
    text-transform: uppercase;
    background-color: $button-back;
    border: none;
    padding: 0.7vw 2.5vw;
    color: $light;
    cursor: pointer;
}

.menu
{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 15vw;
    box-sizing: border-box;
    color: $light;
    z-index: 1;
    a 
    {
        font-size: $menu-text;
        margin: 0 0.8vw;
    }
    img 
    {
        width: 6vw;
    }
}

.banner
{
    background-size: cover;
    background-position: center;
    z-index: 0;
    height: 100vh;
    background-image: url(../img/banner.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    button
    {
        @include accent-text;
    }
    .banner-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        .banner-title
        {
            @include main-banner-text;
        }
        .banner-text
        {
            @include accent-text;
        }
    }
}

.about-us
{
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    .about-us-content 
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: relative;
        padding: 0 20%;
    }
      
    .images 
    {
        position: relative;
        margin-right: 5vw;
    }
      
    .front-image 
    {
        position: relative;
        z-index: 2;
        width: 20vw;
        left: 6%;
    }
      
    .back-image 
    {
        position: absolute;
        bottom: 6%;
        left: 0px;
        z-index: 1;
        width: 100%;
    }

    .title 
    {
        @include title;
        color: $title-color;
    }
    .content 
    {
        position: relative;
        font-size: $main-text;
        z-index: 2;
        margin: 0;
    }
}

.best-positions
{
    background-image: url(../img/banner-positions.jpg);
    padding: 40px;
    .title
    {
        @include title;
        color: $light;
    }
    .cards
    {
        display: flex;
        justify-content: center;
        margin-bottom: 4vw;
        .card
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.2);
            border: #ADADAD 1px solid;
            margin: 0 2vw;
            padding: 1vw 0;
            img 
            {
                width: 90%;
            }
            .card-title
            {
                @include card-title;
                margin: 0px;
            }
            .card-cost
            {
                @include card-cost;
                margin: 0px;
            }
            .card-content
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 3vh 0px;
            }
        }
    }
}

.order
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20vw;
    .title
    {
        @include title;
        font-family: $open-sans-font;
        font-weight: 500;
        color: $dark;
    }
    form 
    {
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "A A C"
        "B B D";
    }
    [class^="form-"]
    {
        display: grid;
        height: 3vw;
        padding: 0.5vw 1.5vw;
        @include form-text;
    }
    .form-name
    {
        grid-area: A;
    }
    .form-adress
    {
        grid-area: B;
    }
    .form-date
    {
        grid-area: C;
    }
    .form-phone
    {
        grid-area: D;
    }
    button 
    {
        margin: 6vh;
    }
}

@media (max-width: 1000px) {
    .banner
    {
        height: 80vh;
    }
    .about-us .about-us-content
    {
        padding: 0 100px;
    }
}
@media (max-width: 500px) {
    .banner
    {
        height: 60vh;
    }
    .about-us .about-us-content
    {
        padding: 0 50px;
    }
}